{% macro render_field(field) %}
  <dt>{{ field.label }}</dt>
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}
 <!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

{{ new_transaction_data }}

<p>Form date data: {{ form.date.data }}</p>
<p>Form retailer data: {{ form.retailer.data }}</p>

<form method=post>
  <dl>
    {{ render_field(form.total) }}
    {{ render_field(form.tax) }}
    {{ render_field(form.payment_type) }}
    {{ render_field(form.retailer) }}
    {{ render_field(form.description) }}
  </dl>
  <input type="submit" value="Continue">
</form>

</body>
</html>
